<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.appintents-extension</string>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Uyku ve nap verilerinizi Apple Sağlık uygulamasına kaydetmek ve uyku düzeninizi tek bir yerden takip etmenizi sağlamak için izin istiyoruz.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Uygulama içindeki geçmiş uyku verilerinizi Apple Sağlık ile senkronize tutmak ve size daha bütünsel bir analiz sunmak için izin istiyoruz.</string>
</dict>
</plist>
