<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>PolyNap</string>
    
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    
    <key>CFBundleVersion</key>
    <string>1</string>
    
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    
    <key>WKCompanionAppBundleIdentifier</key>
    <string>com.tanercelik.polynap</string>
    
    <key>WKWatchKitApp</key>
    <true/>
    
    <key>CFBundleIconFiles</key>
    <array>
        <string>AppIcon-24@2x</string>
        <string>AppIcon-27.5@2x</string>
        <string>AppIcon-29@2x</string>
        <string>AppIcon-29@3x</string>
        <string>AppIcon-complication-40@2x</string>
        <string>AppIcon-44@2x-longLook</string>
        <string>AppIcon-50@2x-longLook</string>
        <string>AppIcon-86@2x</string>
        <string>AppIcon-98@2x</string>
        <string>AppIcon-108@2x</string>
        <string>AppIcon-38@2x</string>
        <string>AppIcon-40@2x</string>
        <string>AppIcon-44@2x</string>
        <string>AppIcon-50@2x</string>
        <string>AppIcon-1024</string>
    </array>
    
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    
    <key>LSRequiresIPhoneOS</key>
    <false/>
</dict>
</plist> 